*,body{
  
  padding:0;
  margin:0;

}
.Login-page{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  position: fixed;

}
.header{
  margin:auto;
  font-weight: bolder !important; 
  font-size: 70px!important;
  margin-left: 10%;
  margin-top:5%;
  background-color: transparent !important;

}
.stats{
  width:10%;
  position:absolute;
  left:25%;
  top:40%;

}

.login-div{
  width:40vw;
  height:50vh;
  position: absolute;
  top:35%;
  left:55%;
  border-radius: 15px;
  background-color: #273b4ad1 !important; 
  display:flex;
  flex-direction: column;
  color:white;
}
.login-inner{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.email{
  margin-top:12%;
  margin-bottom:5%;
}
input{
  padding:6px;
  width:60%
}
.password{
  margin-right:25px;
}
.signIn-btn{
  background-color: transparent;
  border:none;
}
.vector{
  margin-top: 10%;
  margin-right:5%;
}

@media (min-width: 920px) {

}

@media (min-width: 768px) {
 
}
@media (min-width: 769px) {
 
}
@media (max-width: 768px) {
  
}
