.homepage-Ctn{
  display:flex;
  align-items: center;
  margin:0;
  padding:0;
  width:100vw;
}
.firstCtn {
  width:20%;
  height:100vh;
  background-color: #f1eef6;
  border-radius: 15px;
  padding:5px;
  margin-bottom:10px;
}
.overview-header{
  font-weight: 800;
  text-align:left;
  margin-left:10%
}
.status {
  height: 44%;
  width:90%;
  background-color: #FFF;
  margin:auto;
  border-radius:15px;
  margin-top: 5%;
  
}
.pie{
    height: 40%;
    width:90%;
    background-color: #FFF;
    margin:auto;
    border-radius:15px;
    margin-top:12%
}

.break1{
  background-color:#F1EEF6;
  width:80%;
  height:1.5px;
  margin:auto;
  background-color: rgb(130, 123, 123);
  margin-bottom:8%;
 
}
.break{
  background-color:#F1EEF6;
  width:80%;
  height:1.1px;
  margin:auto;
  background-color: rgb(130, 123, 123);
  margin-top:10%;
  margin-bottom:10%;
 
}
.todo{
  display:flex;
  justify-content: space-around
}
.iconCtn{
  background-color: #F1EEF6 ;
  margin: left;
  padding:2%;
  border-radius: 12px;
}
.second-Ctn{
  height:100vh;
  width:100%;
}
.sec-header{
  height:60px;
  background-color:#F1EEF6;
  width: 80%;
  border-radius: 15px;
  margin-left: .5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -.5%;
}
.addTask{
  margin-left:5px;
}
.date{
  font-weight: 800;
  font-size: 15px !important;
  width:10vw !important;

}
.calender{
  width:80%;
  border-radius: 15px;
  height:40vh;
  margin-top: 20px;
  margin-left: 5px;
  background-color: #F1EEF6 !important;
  padding:10px;
}