/* --Home Page-- */
.page {
  background: #f6f7fb;
  height: 100vh;
  /*  font-family: "Barlow"; */
}
.header {
  width: 100vw;
  height: 90px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.welcome {
  font-weight: bolder;
}
.project-header {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1.5px solid black;
}
.status-outer{
    display: flex;
    border-bottom: 2.2px solid rgb(162, 157, 157);
}
.containers {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  background-color: #f6f7fb;
}
.status {
  justify-content: space-around;
  width:90%;
}
.projects {
  font-weight: 900;
}
.num {
  font-weight: 900;
  font-size:small;
}
.toogleAndDash{
    justify-content: space-around;
    display:flex;
    width:28%;
}
.container1 {
  height: 100%;
  width: 62%;
  overflow-y: scroll;
  margin-left:5px;
}

/* below css will get rid of scrollbar display */
/* ::-webkit-scrollbar {
  display: none;
} */

.container2 {
  height: 100%;
  width: 32%;
}
.projects-snap {
  background-color: white;
  height: 40%;
  border-radius: 10px;
  margin: 5px;
  overflow-y: scroll;
}
.dashboard-snap {
  background-color: white;
  height: 42%;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 0px;
}
.team-snap {
  background-color: white;
  height: 30%;
  border-radius: 10px;
  margin: 5px;
}
.myTasks-snap {
  background-color: white;
  height: 52%;
  border-radius: 10px;
  margin: 5px;
}
.calender-snap {
  background-color: white;
  height: 28%;
  border-radius: 10px;
  margin: 5px;
  margin-right: 20%;
}
.inbox-snap {
  background-color: white;
  height: 26%;
  border-radius: 10px;
  margin: 5px;
  margin-right: 20%;
}
.chat-snap {
  background-color: white;
  height: 27%;
  border-radius: 10px;
  margin: 5px;
  margin-right: 20%;
}
.project-TaskSnaps{
  display:flex;
  justify-content: space-around;
  flex-direction:row;
  height:24vh;
  position:fixed;
  overflow:hidden;
  width:58vw;
 
}


/* --Homepage(Dashboard snap) -- */

.dashboard-header{
 
  align-items: center;
  display:flex;
  justify-content: space-between;
  width:15vw;
}
.dBoard-AddTask{
  border: 1px solid grey;
  border-radius: 12px;
  background-color:transparent;
  color:rgba(14, 8, 2, 0.708);
}
.plusBtn{
  color:rgba(14, 8, 2, 0.708);
}
.dBoard-AddTask:hover{
  color:black;
  background-color: #1ccc7f;
}