.container {
  display: flex;
  padding: 0;
  margin: 0;
  position: fixed;
  /*   font-family: "Barlow"; */
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background-color: #273B4A;
  color: #fff;
  height: 100vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  justify-content: space-between;
}
.linebreak{
  background-color: azure;
}
hr {
  height: 1.5px;
  background-color: #fff;
  border: none;
}
.nav-logo {
  width: 8vw;
  margin-top: -15px;
}
.titile{
  font-weight: bold;
  color:#273B4A;
  font-size: 22px;
}
.job-title{
  font-weight: bold;
  color:#273B4A;
  font-size: 12px;
}
.top_section {
  display: flex;
  align-items: flex-start;
  padding: 20px 15px;
  background-color: #A2C970;
  height:25vh;
}
.logoSide {
  width: 80%;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  transition: all 0.5s;
  background: rgb(168, 203, 175);
  color: black;
}
.active {
  color: #1ccc7f !important;
  background: rgb(34, 57, 39);
}
.bars:hover {
  color: rgb(168, 203, 175);
  transition: all 0.5s;
  cursor: pointer;
}
.Nav-bottom{
  justify-content: space-between;
}
.navBottomLogo{
  width:65%;
  margin-left: 12px;
  font-size: 35px;
  color: #A2C970;

}
.menu1{
  height:32vh;
  overflow-y: scroll;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  display:inline-block!important;
  background-color:rgba(17, 15, 15, 0);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 2px #dbdce0;
  background-color: #F6F7FB;
}
.menu2{
  margin-top:55%;
  margin-bottom: 5%;
}
