.task-card {
  border-radius: 15px !important;
  border-color: transparent;
  width: 21.5vw;
  height: 20.5vh;
  margin: auto;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.task-name {
  font-size: medium;
}

.task-description {
  font-size: small;
}
.card-date {
  font-size: x-small;
}
.card-header {
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  height: 5vh;
}
.card-header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-type {
  border-radius: 7px;
  border: 2px solid rgba(0, 128, 0, 0.274);
  font-size: 10px;
  padding: 1px 8px 1px 8px;
  background-color: #1ccc8042;
}
.assignTo {
  font-size: x-small;
  display: flex;
  align-items: center;
  margin-top: -6%;
}
.card-body {
  height: 11.5vh;
}
.assignPlus {
  background-color: rgb(90, 86, 86);
  color: white !important;
  border-radius: 50%;
  width: 15px;
  text-align: center;
  font-size: 13px;
}
.card-footer {
  background-color: transparent;
  display: flex;
  justify-content: space-between;

  
}
.footer-icon {
  color: #803393;
  font-size: xx-small;
  
  

}

/* TaskCard2 css which renders in Homepage  */
.task-name2 {
  font-size: x-small;
}
.task-card2 {
  border-radius: 35px !important;
  border-color: transparent;
  width: 12vw;
  height: 18vh;
  margin: auto;
  margin-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 2px solid green;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* ---MessageAddTask.jsx  shows NO TASK in Homepage*/
.messageDiv {
  display: flex;
  align-items: center;
}
.noTodo {
  width: 26%;
  z-index: 99;
}
.noTodo-Text {
  font-weight: 200;
  margin-left: 20%;
  color: #1ccc7f;
}
